// Specific CSS for your home-page
.josefin {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 41px;
margin-top: 20px;
text-align: center;

color: #000000;
}


.pacifico {
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height:35px;
/* or 117% */

text-align: center;

color: #000000;
}
