// Specific CSS for your home-page
.josefin {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 200;
font-size: 54px;
line-height: 41px;

text-align: center;

color: #000000;
}


.pacifico {
font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 41px;
/* or 117% */

text-align: center;

color: #000000;
}
