<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1595351298020-038700609878?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170);">

  <div class="container">
    <h1>Louer votre atelier</h1>
    <p>à d’autres professionnels</p>
    <%= simple_form_for :query, url: ateliers_path, wrapper: :inline_form, html: { class: "row row-cols-lg-auto g-3 align-items-center search-input" }, method: "GET" do |f| %>
      <%= f.input :style, label: false, include_blank: "Style d'atelier",
                  collection:["Atelier cuisine", "Atelier broderie","Atelier photographie", "Atelier de tissage", "Atelier de cuir", "Atelier de poterie", "Atelier de textile", "Atelier de gravure"],
                  :input_html => { :class => 'input' }, wrapper_html: { class: "m-0"} %>
      <p class="color-black">Adresse</p>
      <%= f.input :address,
                  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {class: "m-0", data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
      <div class="col-12">
        <%= button_tag type: "submit" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br>
<h2 class="josefin">Nos ateliers</h2>
<h2 class="pacifico">à louer</h2>

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://www.agence-vga.com/dashboard/uploads/projets/21/atelier-d-artisans-a-beziers-34--5f04420f67cc1-xl.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://www.avantscene-animation.com/wp-content/uploads/2020/11/LGuyRYUQ-1.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="https://www.parisinfo.com/var/otcp/sites/images/node_43/node_51/node_77884/node_79219/wecandoo-atelier-artisan-%C3%A9b%C3%A9niste-%7C-630x405-%7C-%C2%A9-edouard-eyglunent/18852348-1-fre-FR/Wecandoo-Atelier-artisan-%C3%A9b%C3%A9niste-%7C-630x405-%7C-%C2%A9-Edouard-Eyglunent.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://www.parisselectbook.com/wp-content/uploads/2019/11/atelier-froidevaux.jpg" />
    </div>
    <div class="swiper-slide">
      <img src="https://www.amylee.fr/wp-content/uploads/2016/04/CEzIn.jpg" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

    <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>
