

.list-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top:0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  flex-grow: 1;

}
#map {

  position: sticky;
  top: 0;
}

.price-left {
  text-align: left;
}
// .container{
//   // background-color: white;
//   // display: flex;
//   // justify-content: space-between;
//   // min-height: calc(100vh - 192px);


// }
.titre {
  h2 {
    background-color: white;
    font-family: pacifico;
    font-weight: 400;
    font-size: 36px;
  }

  p {
    font-family: Josefin Sans;
    font-size: 24px;
    text-align: center;
  }
}
.card {
  border:solid 2px transparent;
  border-radius: 20px;
  .atelier-info {
    min-height: 150px;
    width: 100%;
  }
  img {
    width: 100%;
    border-radius: 20px;
  }

}
.card:hover {

  border:solid 2px #FF3461;

}
#img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  margin: 0px;
}

.style-details {
  font-family: Josefin Sans;
  font-size: 20px;
  min-height: 60px;
}
.style-name {
  font-family: pacifico;
  font-size: 20px;
  min-height: 60px;
  a {text-decoration: none;
    color: black;
  }
}

.price-left {
  font-family: Josefin Sans;
  color: #FF3461;
  font-size: 15px;
  font-weight: bold;
}

body {
  background-color: white;
  padding-bottom: 180px;
}
