.container-formulaire {
  text-align: center;
  padding: 20px;
  font-family: 'Josefin Sans';
  h2{
    font-family: 'Pacifico';
  }
}

.formulaire {
  border-style: solid;
  border-width: 1,5px;
  border-color: #F4F4F4;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.15);
  text-align: center;

}
