.input {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

form.simple_form.row.row-cols-lg-auto.g-3.align-items-center.search-input {
  background: white;
  border-radius: 20px;
  width: max-content;
  select, .query_address, .query_style, .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    border: none;
    box-shadow: none;
    font-weight: 600;
    margin: 0 !important;
  }
}


input.mapboxgl-ctrl-geocoder--input::placeholder {
  color: transparent;
}

svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
  display: none;
}

p.color-black {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: normal;
}

.fas, .fa-solid {
  color: red;
}

button {
  border: 0;
  background: transparent;
}

.col-12 {
  margin: 0 2px 0 0 !important;
}

.mapboxgl-ctrl-geocoder--input:focus {
  outline: none !important;
}

p.color-black {
  font-family: 'Josefin Sans' !important;
  font-weight: 600 !important;
  opacity: 0.8 !important;
}


select#query_style {
  font-family: 'Josefin Sans' !important;
  font-weight: 600 !important;
  opacity: 0.8 !important;
}


.new_atelier {
  select, .mapboxgl-ctrl-geocoder {
    max-width: none !important;
    width: 100% !important;
    border: 1px solid #ced4da !important;
    border-radius: 2px !important;
    background-color: #F4F4F4 !important;
    color: #0E0000 !important;
    box-shadow: none !important;
  }
}
