.card-category > .text-decoration {
  text-decoration: none;
  color: white;
}

.card-product-infos > .text-decoration {
  text-decoration: none;
  color: red;
}

.text-decorationn {
  text-decoration: none;
  color: black
}
